@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  background-color: white;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  list-style: none;
  font-size: 19px;
  padding: 0 7% 0 7%;
}
.nav-container a {
  text-decoration: none;
  color: black;
}
.spaar-prog {
  padding: 12.5px 20px;
  border-radius: 45px;
  background-color: green;
}
.section {
  background-image: url(https://www.pickwick.nl/siteassets/_new/iconselements/header-visuals/pick_2019_zom_midd_02551.jpg?preset=block-background);
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0% 0% 50% 50%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1rem;
}
.middag {
  font-family: "Mountains of Christmas", cursive;
  font-size: 5.5rem;
  color: wheat;
}
.middag-p {
  font-family: "Permanent Marker", cursive;
  font-size: 27px;
  color: lightslategray;
}
.main-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightgrey;
  
  

}
.main-l{
display: grid;
grid-template-rows: 1fr 2fr 1fr; 
align-items:center;
padding: 50px;
  

}
.what-meer{
  padding: 30px;
  font-family: 'Satisfy', cursive;
color: green;
font-size: 2.5rem;



}
.meer-p{
  font-family: 'Kalam', cursive;
  font-size: 20px;



}
.even-ont {

  font-family: 'Kaushan Script', cursive;
  
  
}
.main-r{
  margin: 20px;
  
}
.main-r img {
  width: 70%;
}
.favorite-site{
  background-color:whitesmoke;
}
.favorite-3 {

}
.cards {
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  margin: 19px;
}
.favorite-smaak {
  

}
.favorite-h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: rgb(46, 177, 46);
  margin-left: 570px
  
  
}

.favorite-h11{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: rgb(46, 177, 46);
  
}
.card-h3{
  font-family: 'Dancing Script', cursive;

}
.card-p {
  font-size: 28px;
  color:gray;
}

